{% extends 'padre.html' %}
{% load static %}
{% block contenidoQueCambia %}
   <h2>Franco Beccari</h2>
   <p style="padding-right: 50px; padding-left: 50px; line-height: 2;">Soy Franco Beccari, web developer y comencé a estudiar programacion para desarrollo web hace un poco mas de 2 años.
    Me inscribí a la carrela Fullstack de Coder en agosto del 2022, pero luego de terminar los cursos de HTML, CSS, JS y ReactJS, pero luego de comenzar el curso de backend, decidí dejarlos ya que no me llamaba tanto como el front-end,
    asique luego de dejar el curso de backend, pero con los cursos de frontend terminados, hice un curso de Angular, y por que no, de diseño UX/UI (puede que este ultimo no se muestre mucho en este proyecto, desculpas, no tuve mucho tiempo),
    lamentablemente, Angular no me habia gustado tanto como React, asique decidí hacer otro curso de ReactJS para refrescar conceptos, pero esta vez en la universidad de la UTN, y mientras hacia el curso de repaso, quise hacer el curso de pYthon para conocer el lenguaje y ver que podía ofrecer,
    ya que tambien es uno de los lenguajes mas usados en el mercado. Dicho esto, llegamos al dia de hoy, el curso de ReactJS en la UTN terminará en marzo, y este curso terminará en breve.
    Francamente no esperaba que el curso termine orientado al backend, pero fue una sorpresa agradable en lo personal, se sentia algo vacio al no haber terminado el curso de backend hace un año, pero el curso me dio cierto alivio de alguna manera.

    Muchas gracias por el curso, y el tiempo que nos dedicó

    Atte - Franco Beccari.
   </p>
{% endblock %}