{% extends 'padre.html' %}
{% load static %}
{% block contenidoQueCambia %}
    <h1>Página de Peliculas</h1>
    </br>
    <h2>Subida a base de datos</h2>
    <form action="{% url 'add_peliculas' %}" method="post">
        {% csrf_token %}
        
        <label for="nombre">Nombre: </label> 
            <input name="nombre" type="text">
        
        <label for="director">Director: </label>
            <input name="director" type="text">
        
        <label for="stock">Stock: </label>
            <input name="stock" type="number">
        
        <input type="submit" value="Enviar">
        
    </form>
{% endblock %}